
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom , rgb(164, 226, 164),rgb(161, 241, 224)); 
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background:white;
    padding: 20px;
    box-shadow: 0 4px 10px black;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
    
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 98%;
    box-shadow: 0 5px 10px rgb(167, 166, 166);
    outline: none;
}

button {
    
    padding: 12px;
    background-color: #4299f7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 170px;
}

button:hover {
    background-color: #0056b3;
}

/* Generated Resume Styling */

.profilePicture {
margin: 0 auto;
display:flex;
border: 2px solid white;
box-shadow: 0 5px 20px black;
border-radius: 50%;
width: 200px;
height: 200px;
object-fit: cover;
}

#resume {
    margin-top: 50px;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #fad091;
}
.resume-content h3 {
    padding: 5px;
    margin-bottom: 10px; 
    background-color:#e08c0e;  
    color: white; 
    border-radius: 5px;
    font-size: rem;
}
.resume-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;   
}
.resume-content ul li{
    line-height: 30px;
    font-size: 1.1rem;
}
h1{
    background-color:rgb(255, 247, 214);
    padding: 10px;
    border-radius: 5px;
}
h2{
    background-color:rgb(255, 247, 214);
    padding: 10px;
    border-radius: 5px;
}
#resume h2{
    background-color:#f5c379;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
#resume button{
    background-color: white;
    color: #e08c0e;
}
#resume  button:hover{
    background-color: #e08c0e;
    color: white;
    transition: 1s;
}

